# Virtual Environments
.venv/
venv/
env/
.env

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Data (Raw API responses & Processed features)
data/raw/*.csv
data/processed/*.csv

# Trained Models & Metrics
models/*.pkl
models/*.json

# FastF1 Cache
fastf1_cache/
ff1_cache/

# OS Files
.DS_Store
Thumbs.db